#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
{{ spec.name }} model package.
"""

from .level_{{ safe_spec_name }} import {{ class_name }}
from .architecture import {{ arch_class_name }}

__all__ = [
    "{{ class_name }}",
    "{{ arch_class_name }}",
]

